    {% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="conta container-fluid mb-3 justify-content-center bg-light d-flex ">
    <div class="card crd rounded-2 bg-light ms-4 w-50 me-4 mb-5 mt-3"style="border:0;">
        <div class="row">
            <div class="cd card  p-3 mb-5 bg-body rounded mb-4">
                <img src="{{data.image.url}}" class="card-img-top rounded-2 ms-2 mt-3" alt="...">
                <div class="card-body">
                
      
                
                </div>
            </div>
                <div class="col2 col-5 ms-2">
                    <h2>{{data.name}}</h2>
                    <h3>${{data.price}}</h3>
                    <h5 class="ct mt-3">category: {{data.category}}</h5>    


                    {% if data.stock >= 1 %}
                    <button class="btn btn-warning me-3">Add to cart</button>
                    <button class="btn btn-danger">Buy Now</button>
                    {% else %}
                    <span><h3 class="out" style="color: green;">out of stock</h3></span>
                    {% endif %}
                    
  
                </div>
          </div>
    </div>
        
</div>

{% endblock %}