{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid mb-3">
  {% if category %}
 <h1 class="hed mt-5 mb-2">{{category.name}}</h1>
 <img class="can rounded-5 " src="{{category.image.url}}" style="margin-left: 700px;" width="26%" height="450" alt="">
 <h5 class="des mt-4 mb-5">{{category.desc}}</h5></div>
 {% else %}
 <h1 class="hed mt-5 mb-2">All Products</h1>
 <img class="can rounded-5 " src="../static/images/Screenshot from 2024-01-29 23-38-40.png" style="margin-left: 30px;" width="96%" height="600" alt="">
 <h5 class="des mt-4 mb-5">A mobile phone (or cellphone[a]) is a portable telephone that can make and receive calls over a radio frequency link while the user is moving within a telephone service area, as opposed to a fixed-location phone (landline phone). The radio frequency link establishes a connection to the switching systems of a mobile phone operator, which provides access to the public switched telephone network.</h5></div>
 {% endif %}

<div class="container-fluid">
    <div class="card-group mb-3">
      {% for i in data %}
        {% if i.available %}
        <a href="{% url 'shop:details' i.id %}">
        <div class="cad border p-3 mb-5 bg-body rounded mb-4 me-4">
          <img src="{{i.image.url}}" height="400px" class="card-img-top rounded-4 " alt="...">
          <div class="card-body">
            <h3 class="card-title">{{i.name}}</h3>
            <h5 class="card-text">${{i.price}}</h5>
            <h6 class="card-text">{{i.category}}</h6>
          </div>
        </div>
        </a>
        {% endif %}
        {% endfor %}
      </div>
</div>


{% endblock %}