<!-- {% comment %} <nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
      <button class="btn sr" type="submit"><img src="../static/images/search_8094123.png" width="10px" alt=""></button>
     
    </form>
  </div>
</nav>


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'shop:home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle ann" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              category
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'shop:home' %}">All Product</a></li>
              {% for link in links %}
  <li><a class="dropdown-item" href="{{link.get_url}}">{{link.name}}</a></li>
  {% endfor %}

</ul>
{% if user.is_authenticated %}
<span>{{user}}</span>
<li class="nav-item ">
  <a class="nav-link nav-signup btn mb-lg-0 mb-2" href="{% url 'auth:logout' %}"><b>Logout</b></a>
</li>

{% else %}
<li class="nav-item ">
  <a class="nav-link nav-signup btn mb-lg-0 mb-2  rounded-pill btn-outline-dark sng" href="{% url 'auth:register' %}"><b>Sign in</b></a>
</li>
<li class="nav-item ">
  <a class=" nav-bttn btn px-3 py-2 rounded-pill btn-outline-dark mx-lg-3 mx-auto"href="{% url 'auth:login' %}"><b>Login</b></a>
</li>
{% endif %}


</li>

</ul>

</div>
</div>
</nav> {% endcomment %} -->





<nav class="navbar bg-light bg-dark">
  <div class="container-fluid">
    


    <form class="d-flex" role="search"  action="{% url 'searchapp:searchproduct' %}" method="GET">
      <input class="form-control me-2 mt-4 "name="q" type="search" style="margin-left: 750px;" placeholder="Search" aria-label="Search">
      <img class="search mt-4" src="../static/images/search12.png" width="40" alt="">
     
    </form>
    {% if user.is_authenticated %}

    <span>{{user}}</span>
  <li class="nav-item ">
    <a class="nav-link nav-signup btn btn-light mb-lg-0 mb-2" href="{% url 'auth:logout' %}"><b>Logout</b></a>
  </li>

  {% else %}
  <li class="nav-item ">
    <a class="nav-link nav-signup btn btn-light ps-2 pe-2 px-2 py-2 pt-1" style="margin-left: 530px; " href="{% url 'auth:register' %}"><b>Sign up</b></a>
  </li>
  <li class="nav-item ">
    <a class=" nav-bttn btn btn-light mt-4" style="margin-right: 100px;" href="{% url 'auth:login' %}"><b>Log
        in</b></a>
  </li>
  {% endif %}
    
  </div>
</nav>






<nav class="navbar navbar-expand-lg bg-secondary">
<div class="container-fluid">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'shop:home' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          category
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'shop:home' %}">All Product</a></li>

          {% for link in links %}
          <li><a class="dropdown-item" href="{{link.get_url}}">{{link.name}}</a></li>

          {% endfor %}

        </ul>

       
        


      </li>

    </ul>
    


  </div>
</div>
</nav>